* {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

:root {
    --color-header: #EAF2F3;
    --fondo: #ff8d71;
    --background-body: #f2f2f2;
    --color-main: rgb(183,76,44);
}

/*------------------------------HEADER------------------------*/

/*NAV*/
header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(183,76,44);
    background: linear-gradient(180deg, rgba(183,76,44,1) 8%, rgba(210,96,65,1) 18%, rgba(255,131,101,1) 35%, rgba(255,141,113,1) 49%);
    background-size: 100% 100%;
}

.nav {
    grid-column: 3/5;
    grid-row: 1/2;

    font-family: verdana, arial, helvetica;
}

.nav__ul{  
    list-style: none;

    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: var(--color-header);
}

.nav__li {
    margin: .5rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;

    background-image: linear-gradient(var(--color-header), var(--color-header));
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.nav__li:hover, .nav__li:focus{
    background-size: 100% 3px;
} 


/*NAME BOX*/
#name-box {
    grid-row: 2/6;
    grid-column: 1/5;

    display: flex;
    justify-content: center;

    font-family: monospace, sans-serif;
    font-size: 1.5rem;
    color: var(--color-header);
}

.efect{
    position: relative;
}

span {
    overflow: hidden;
    white-space: infinite;
}

.efect::after {
    content:"";
    border-left: 2px solid var(--color-header);
    background: var(--fondo);  
    right: 0;
    height: 100%;
    position: absolute;
    animation: typing 2s infinite alternate steps(13);
}

@keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }   
}

.icon {
    grid-column: 1/5;
    grid-row: 5/6;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;
    color: var(--color-header);
}

.icon i {
    transition: transform 1s;
}

.icon i:hover {
    transform: scale(1.3);
}

/*-------------------------------------BODY--------------------------------*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background: var(--background-body);

    padding: 1rem 1.2rem;
}

.container__div {
    grid-column: 3/5;
    grid-row: 1/3;

    border: solid .5rem var(--color-main);
    border-radius: 5px;
    padding: .5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    transition: transform 1s;
}

.container__div:hover{
    transform: scale(1.02)
}
/*BOTON*/
.container__button {
    grid-column: 3/5;
    grid-row: 2/4;

    display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 80px;

    font-family: 'Ubuntu', sans-serif;
    background: #262626;
    color: #fff;
    border-radius: 5px;
    border: none;

    transition: .4s ease all;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
 }

.container__span {
    font-size: 1.4rem;
    
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.container__button::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    border-bottom: 80px solid var(--color-main);
    border-right: 80px solid transparent;

    top: -80px;
    left: calc(-100% - 100px); 
    transition: .3s ease-in-out all;
}

.container__button:hover::after {
    left: 0;
}